body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background: rgb(0, 0, 0);
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

section {
    padding: 1rem;
    border-bottom: 1px solid #ddd;
}

h2 {
    color: #333;
}

.foto-perfil {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin-bottom: 1rem;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 1rem;
}

footer {
    background: rgb(0, 0, 0);
    color: #fff;
    text-align: center;
    padding: 0.5rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}